Intermediate/
Saved/
Content/StarterContent/Architecture/
Content/StarterContent/Blueprints/
Content/StarterContent/HDRI/HDRI_Epic_Courtyard_Daylight.uasset
Content/StarterContent/Maps/Advanced_Lighting.umap
Content/StarterContent/Materials/M_Basic_Floor.uasset
Content/StarterContent/Materials/
Content/StarterContent/Maps/
Content/StarterContent/Particles/
Content/StarterContent/Props/
Content/StarterContent/Shapes/
Content/StarterContent/Textures/T_Brick_Clay_Beveled_N.uasset
Content/StarterContent/Textures/
